mixin block1(title)
  .catalogue-block.col-xl-3.col-lg-4.col-sm-6.col-12
    .catalogue-block__container
      .catalogue-block__content
        .catalogue-block__section.catalogue-block__image
          a(href="#").cover-box
            img(src='#' data-src="img/contentImages/interyer_aura_grafite.jpg", alt="").lazy
        .catalogue-block__section.catalogue-block__info
          .catalogue-block__info-section
            a(href="#").catalogue-block__brand Zeus Ceramica
            span.catalogue-block__model=title
          .catalogue-block__info-section
            span.catalogue-block__price
              span.current-price от 800.00 ₽/м²
            ul.appointment-list
              li.appointment-list__item
                .icon-box.icon-box_style1.appointment-list__icon <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon3"></use></svg>
                span Для ванной
                .icon-box.icon-box_style2 <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon20"></use></svg>
              li.appointment-list__item
                .icon-box.icon-box_style1.appointment-list__icon <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon10"></use></svg>
                span 201x505 мм
                .icon-box.icon-box_style3 <svg class="icon"><use xlink:href="img/icons/countries-sprite.svg#italy"></use></svg>
        .catalogue-block__section.catalogue-block__additional
          span.label Элементы коллекции:
          .row
            .catalogue-block__additional-block.col-xl-3
              a(href="#").cover-box
                img(src='#' data-src="img/contentImages/tile1.jpg", alt="").lazy
            .catalogue-block__additional-block.col-xl-3
              a(href="#").cover-box
                img(src='#' data-src="img/contentImages/tile2.jpg", alt="").lazy
            .catalogue-block__additional-block.col-xl-3
              a(href="#").cover-box
                img(src='#' data-src="img/contentImages/tile3.jpg", alt="").lazy
            .catalogue-block__additional-block.col-xl-3
              a(href="#").cover-box
                img(src='#' data-src="img/contentImages/tile4.jpg", alt="").lazy
mixin block2(title)
  .catalogue-block.catalogue-block_type2.col-xl-3.col-lg-4.col-sm-6.col-12
    .catalogue-block__container
      .catalogue-block__content
        .catalogue-block__section.catalogue-block__image
          a(href="#").cover-box.cover-box_contain
            img(alt="").lazy&attributes(attributes)
        .catalogue-block__section.catalogue-block__info
          .catalogue-block__info-section
            a(href="#").catalogue-block__brand Плитка настенная Zeus 
            span.catalogue-block__model=title
          .catalogue-block__info-section
            span.catalogue-block__price
              span.current-price 800.00 ₽/м²
            ul.appointment-list
              li.appointment-list__item
                .icon-box.icon-box_style1.appointment-list__icon <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon3"></use></svg>
                span Для ванной
              li.appointment-list__item
                .icon-box.icon-box_style1.appointment-list__icon <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon10"></use></svg>
                span 201x505 мм
      .catalogue-block__section.catalogue-block__calculator
        include calculator
        button.button.button_style1 В корзину
mixin block3(title, brand, text)
  .catalogue-block.slide
    .catalogue-block__container
      .catalogue-block__content
        .catalogue-block__section.catalogue-block__image
          a(href="#").cover-box.cover-box_contain
            img(src='#' alt="").lazy&attributes(attributes)
        .catalogue-block__section.catalogue-block__info
          .catalogue-block__info-section
            a(href="#").catalogue-block__brand=brand
            span.catalogue-block__model=title
          .catalogue-block__info-section
            span.catalogue-block__price
              span.current-price 800.00 ₽
        .catalogue-block__section.catalogue-block__additional
          span.label Описание товара:
          p=text
mixin block4(title)
  .catalogue-block.catalogue-block_type2.col-xl-3.col-lg-4.col-sm-6.col-12
    .catalogue-block__container
      .catalogue-block__content
        .catalogue-block__section.catalogue-block__image
          a(href="#").cover-box.cover-box_contain
            img(alt="").lazy&attributes(attributes)
        .catalogue-block__section.catalogue-block__info
          .catalogue-block__info-section
            a(href="#").catalogue-block__brand Плитка настенная Zeus 
            span.catalogue-block__model=title
          .catalogue-block__info-section
            span.catalogue-block__price
              span.old-price 1000.00 ₽/м²
              span.current-price.current-price_new 800.00 ₽/м²
            ul.appointment-list
              li.appointment-list__item
                .icon-box.icon-box_style1.appointment-list__icon <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon3"></use></svg>
                span Для ванной
              li.appointment-list__item
                .icon-box.icon-box_style1.appointment-list__icon <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon10"></use></svg>
                span 201x505 мм
      .catalogue-block__section.catalogue-block__calculator
        include calculator
        button.button.button_style1 В корзину
mixin block5(title, brand, text)
  .catalogue-block.catalogue-block_type2.col-xl-3.col-lg-4.col-sm-6.col-12
    .catalogue-block__container
      .catalogue-block__content
        .catalogue-block__section.catalogue-block__image
          .cover-box.cover-box_contain
            img(src='#' alt="").lazy&attributes(attributes)
        .catalogue-block__section.catalogue-block__info
          .catalogue-block__info-section
            a(href="#").catalogue-block__brand=brand
            span.catalogue-block__model=title
          .catalogue-block__info-section
            span.catalogue-block__price
              span.old-price 600.00 ₽
              span.current-price.current-price_new 400.00 ₽
        .catalogue-block__section.catalogue-block__additional
          span.label Описание товара:
          p=text
      .catalogue-block__section.catalogue-block__calculator
        .product-calculator.product-calculator_other.product-calculator_js-count-calc.product-item
          input(type='text' data-price='400' data-mincount='1' hidden disabled).product-calculator__count-input
          .product-calculator__section
            .product-price.product-price-item 
              span 0
              | ₽
          .product-calculator__section.product-calculator__section_controls
            span.product-calculator__control.product-calculator__minus
              <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon1"></use></svg>
            input(type="text").product-calculator__value-input
            span.product-calculator__control.product-calculator__plus
              <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon2"></use></svg>
          .product-calculator__section
            span.product-calculator__js-toggle.product-calculator__js-toggle_square
              span м
            span.product-calculator__js-toggle.product-calculator__js-toggle_switch
            span.product-calculator__js-toggle.product-calculator__js-toggle_count 
              span шт.
        button.button.button_style1 В корзину